@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

/* :root */

:root {
    --main-color: linear-gradient(#212529 0%,
            #1b1f22 25%,
            #16191b 50%,
            #111416 75%,
            #0c0e0f 100%);
    --secondery-color: rgba(245, 245, 245, 0.664);
    --tertiary-color: linear-gradient(to top,
            rgba(5, 76, 88, 0),
            rgba(5, 76, 88, 0.1),
            rgba(5, 76, 88, 0.2),
            rgba(5, 76, 88, 0.4),
            rgba(5, 76, 88, 1));
    --third-color: linear-gradient(to bottom,
            rgba(5, 76, 88, 0),
            rgba(5, 76, 88, 0.1),
            rgba(5, 76, 88, 0.2),
            rgba(5, 76, 88, 0.4),
            rgba(5, 76, 88, 0.576),
            rgba(5, 76, 88, 0.8),
            rgba(5, 76, 88, 0.9),
            rgba(5, 76, 88, 1));
    --fourth-color: #caac90;
    --fifth-color: linear-gradient(to top,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 1));

    --sexth-color: linear-gradient(to top,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 1));

    --s-color: rgba(0, 0, 0, 0.712);
}

/* ==== :root ==== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Winky Rough", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    /* height: 100vh; */
    /* background: var(--main-color); */
    background: var(--s-color);
    /* background-color: #0d1721; */
    /* background-color: #030914; */
    /* background-color:#38444d; */
    /* background-color: #1d2a35; */
}

/* navbar */
.navbar-brand {
    border-right: 1px solid var(--secondery-color);
    padding-right: 10px;
}

.form-control::placeholder {
    color: var(--secondery-color);
}

/* Chrome/Opera/Safari */
.form-control::-webkit-input-placeholder {
    color: var(--secondery-color);
}

/* Firefox */
.form-control::-moz-placeholder {
    color: var(--secondery-color);
    opacity: 1;
}

/* IE */
.form-control:-ms-input-placeholder {
    color: var(--secondery-color);
}

.secondary-dropdown-nav>li>a:hover {
    background-color: #2e3e51;
}

.nav-link:hover>#first-letter-challenge-li {
    color: tomato;
    font-weight: bolder !important;
}

.nav-link:hover {
    transform: scale(1.06, 1.06);
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .nav-link:hover {
        transform: none;
    }
}

.email-notice {
    font-size: small !important;
    margin-left: 5px;
}

.modal-content {
    background: var(--main-color);
    color: var(--secondery-color);
}

.form-check-input:checked {
    background-color: #073741;
    border-color: #054b58;
}

/* ====  navbar  ==== */

/* main - slides */

.carousel-caption {
    background: var(--fifth-color);
    color: var(--secondery-color);
}

.social-icons {
    transform: translate(900px, -97%);
}

/* ==== main - slides ==== */

/* welcome-section */

.welcome-section {
    color: var(--secondery-color);
    padding: 20px;
    border-radius: 10px;
}

/* ==== welcome-section ==== */


/* why-choose-section & Accordion */

.title-why-choose-section,
.accordion-button {
    color: var(--secondery-color);
}

.accordion-button[aria-expanded="true"] {
    color: var(--secondery-color);
}

/* ==== why-choose-section & Accordion ==== */

/*  imgFixed-section  */

.fixedImg {
    height: 400px;
}

#imgFixed-section {
    background-image: url(../img/system-hacked.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

/* ==== imgFixed-section ==== */

/* course-card */

@media (min-width: 769px) {
    .course-card {
        width: 24rem !important;
    }
}

.course-card {
    position: relative;
}

.course-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.course-card:hover::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--fifth-color);
    border-radius: 2px;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.course-card::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.course-card:hover::before {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--sexth-color);
    border-radius: 2px;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

/* ==== course-card ==== */